
/* 네비게이션 바 스타일 */
nav{
    max-width: 90%;
    margin:0 auto;          /* 오버플로우 방지*/
    

}

.nav_header_menu{

    line-height: 35px;
    
    text-align:center;     /*메뉴 가운데로 정렬*/

}
  
.nav_header_logo{
    width: 130px;
    line-height: 30px;
    vertical-align: middle ; 
    text-align: left ;      /*메뉴 가운데로 정렬*/
}

.nav_menu{
    display: inline-flex;   /*메뉴 가로로 배치, flex: 각 영역을 분리 시켜주어 컨텐츠 창이 따라 가도록 한다., 영역이 높이와 크기를 가지지 않음*/
    padding: 30px 70px 5px 70px;
    

    position:relative;      /* 컨텐츠 창이 메뉴창에 방해가지 않도록 부모 엘리먼트로 설정*/
    font-size: 17px;
    font-weight: 600;

}
.nav_contents{
    display: none;          /*컨텐츠 보이지 않도록 배치*/
    font-size: 14px;

    padding: 8px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);  a 알파 투명도 */
    list-style: none;       /* 컨텐츠 불릿 없애기*/ 

    position: absolute;     /* 컨텐츠 창이 메뉴창에 방해가지 않도록 자식 앨리먼트로 설정*/
    width: 100%;            /* 부모영역과 같게 넓이 조정*/
    /* bottom: -100px ;        컨텐츠 창이 메뉴창에 방해가지 않도록 부모요소 기준으로 아래로 내림*/
    left: 0px;
    height: 120px;
    z-index: 100;
    padding: 60px 0;

}
.nav_menu:hover .nav_contents{
    display: block;         /* 메뉴 마우스 오버 시 컨텐츠 세로로 배치*/
}


.nav_contents li:hover{     /* 콘텐츠 마우스 오버 시 오버항목 색상 변경 표시*/
    background-color: #007bff50;
    
}


/* 로고 위에 네비게이션 바 겹치기, 이게 맞는 건가..? */
.nav_header_logo{
    position: relative;
}


.nav_header_logo{
    position: absolute;
}

.nav_header_logo .nav_header_menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.nav_hr{

    background-color: #007AFF;
    height: 4px;

}


a{
    text-decoration: none;
}

a:link { color: black;}

a:visited{
    color: black;
}